* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
}

:root {
  --primary: hsl(210, 8%, 95%);
  --secondary: hsl(24, 10%, 10%);
  --elem-shadow: hsl(0, 0%, 76%);
}

.container {
  display: flex;
  height: 100vh;
}

.icon {
  font-weight: lighter;
  color: var(--secondary);
}

main {
  flex-grow: 2;
  font-size: 2vmax;
  color: var(--secondary);
  background-color: var(--primary);
  overflow-y: auto;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

/* for background image when there's nothing to show */
.empty-todo-bg-img {
  width: 20vmax;
}

/* to put the nav below the main element */
@media (max-width: 480px) {
  .container {
    flex-direction: column-reverse;
  }
}
