* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
}

:root {
  --primary: hsl(210, 8%, 95%);
  --secondary: hsl(24, 10%, 10%);
  --accent: hsl(39, 86%, 64%);
  --transparent-primary: hsla(210, 8%, 95%, 0.9);
  --transparent-secondary: hsl(24, 10%, 10%, 0.221);
  --elem-shadow: hsl(0, 0%, 76%);
}

.container {
  display: flex;
  height: 100vh;
}

.icon {
  font-weight: lighter;
  color: var(--secondary);
  /* We need to remove pointer events on icon here, so that the element containing them gets clicked 
  resulting in e.target === the container element of the icon and e.target !== the icon element itself!! */
  pointer-events: none;
}

main {
  flex-grow: 2;
  font-size: 2vmax;
  color: var(--secondary);
  background-color: var(--primary);
  /* makes the main scrollable (given the parent has overflow:hidden) keeping the nav fixed */
  overflow-y: auto;
}

/* for background image when there's nothing to show */
.bg-img-wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 2.4vmax;
}

.empty-storage-bg-img {
  width: 25vmax;
}

.help-msg {
  font-size: 1vmax;
}

/* to put the nav below the main element (fixed bottom navbar)*/
@media (max-width: 480px) {
  .container {
    flex-direction: column-reverse;
  }
}
