nav {
  position: sticky;
  background-color: var(--primary);
  box-shadow: 3px 0px 20px var(--elem-shadow);
}

.logo {
  text-align: center;
  margin: 1rem 0 3rem 0;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  list-style: none;
}

.nav-list-item {
  /* adding relative position for tool-tip */
  position: relative;
  display: inline-block;
  padding-bottom: 2vmax;
}

.nav-list-item:hover {
  cursor: pointer;
}

.icon-nav {
  font-size: 3.2vmax;
}

.create-btn {
  /* adding for create-option */
  position: relative;
}

/* Using opacity because transition cannot be performed on display */
.create-options {
  opacity: 0;
  pointer-events: none;
}

.create-option {
  position: absolute;
  /* inset puts all the create-option elems on top of the create-btn */
  inset: 0;
  /* using grid only for the sake of centering items */
  display: grid;
  place-content: center;
  padding: 2vmax;
  background-color: var(--primary);
  box-shadow: 0px 0px 10px var(--elem-shadow);
  transition: transform 0.5s ease-in-out;
  border-radius: 5px;
}

.show-options {
  opacity: 1;
  pointer-events: all;
}

.show-options.create-options > .create-option:nth-child(1) {
  transform: translate(6vmax, -4.5vmax);
}

.show-options.create-options > .create-option:nth-child(2) {
  transform: translate(6vmax, 2.5vmax);
}

/* tooltip */
.tooltip-text {
  visibility: hidden;
  width: 6vmax;
  padding: 6px 2px;
  font-size: 1.2vmax;
  text-align: center;
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 3px;
  outline: none;
  border: none;

  /* Position the text */
  position: absolute;
  z-index: 1;
  margin-left: 6px;

  /* Fade in */
  opacity: 0;
  transition: opacity 0.3s;
}

/* arrow */
.tooltip-text::before {
  content: '';
  position: absolute;
  border-width: 6px;
  border-style: solid;
  border-color: var(--secondary) transparent transparent transparent;
}

/* Show the text when you mouse over the text container */
.nav-list-item:hover .nav-list-item-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.create-option:hover .create-option-tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* For larger than mobile devices */
@media (min-width: 768px) {
  nav {
    top: 0;
    left: 0;
  }

  .nav-list-item .tooltip-text {
    top: 10%;
  }

  .nav-list-item .tooltip-text::before {
    top: 30%;
    right: 100%;
    transform: rotate(90deg);
  }

  .create-option .tooltip-text {
    top: 35%;
    left: 100%;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  nav {
    bottom: 0;
  }

  .logo {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-list-item {
    padding: 0;
  }

  .icon-nav {
    font-size: 6vmax;
  }

  .nav-list-item .tooltip-text {
    width: 10vmax;
    font-size: 2vmax;
    bottom: 100%;
    left: -50%;
    right: 50%;
  }

  .nav-list-item .tooltip-text::before {
    top: 100%;
    right: 40%;
  }

  .create-option {
    padding: 4.5vmax;
  }

  .show-options.create-options > .create-option:nth-child(1) {
    transform: translate(-7.5vmax, -12.5vmax);
  }

  .show-options.create-options > .create-option:nth-child(2) {
    transform: translate(4.5vmax, -12.5vmax);
  }
}
