.todos-wrapper {
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: 2vmax;
}

.todo {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  box-shadow: 0px 0px 6px var(--elem-shadow);
  border-radius: 5px;
}

.todo:hover {
  cursor: pointer;
  box-shadow: 0px 0px 6px var(--accent);
}

.todo-header {
  display: grid;
  grid-template-columns: 0.2fr 0.5fr 0.5fr 4fr;
  place-items: center start;
  gap: 10px;
  padding: 1vmax 2vmax;
  font-size: 1.8vmax;
  /* to stop the date from wrapping */
  white-space: nowrap;
  /* so that e.target only results to the todo elem */
  pointer-events: none;
}

input[type='checkbox'] {
  width: 2vmax;
  height: 2vmax;
  accent-color: var(--accent);
  border-radius: 4px;
}

.priority-label {
  background-color: var(--accent);
  padding: 0px 8px;
}

.todo-content {
  display: flex;
  flex-direction: column;
  padding: 0 2vmax 1vmax 2vmax;
  font-size: 1.5vmax;
  /* so that e.target only results to the todo elem */
  pointer-events: none;
}

.todo-title {
  font-size: 2.2vmax;
  font-weight: bold;
  padding: 0 0 10px 0px;
}

.delete-todo-btn {
  place-self: center end;
  padding: 2px;
  background-color: var(--transparent-secondary);
  border-radius: 2px;
  border: none;
  /* the events on its parent are disables, so we need to allow events for this explicitly */
  pointer-events: all;
}

.delete-todo-icon {
  font-size: 2.4vmax;
}

.delete-todo-btn:hover {
  cursor: pointer;
}

/* For smartphones */
@media (max-width: 480px) {
  .todo-header {
    font-size: 2.2vmax;
  }

  .todo-content {
    font-size: 2vmax;
  }

  .todo-title {
    font-size: 2.4vmax;
  }

  .delete-todo-btn {
    font-size: 3.2vmax;
  }
}
